body{font:14px Helvetica,Arial,sans-serif;}
body #posts .edit,body #posts .delete{display:none}
body{font:14px Helvetica,Arial,sans-serif;}
body #posts .edit,body #posts .delete{display:none}

body{font:14px Helvetica,Arial,sans-serif;}
body #posts .edit,body #posts .delete{display:none}
menu{text-align:center}
menu li{display:inline-block;margin:0 20px}
menu li a{font-size:16px;color:#219161;}
menu li a:visited{color:#219161}
menu li a:hover{color:#000}
menu li a.active{color:#57a957;font-weight:bold}

