menuColor = #219161

menu
  text-align center

menu li
  display inline-block
  margin 0 20px

menu li a
  font-size 16px
  color menuColor
  &:visited
    color menuColor
  &:hover
    color #000000
  &.active
    color #57a957
    font-weight bold